@use "..//foundation/mixin" as m;

.c-gl{
    display: none;
    @include m.mq(tab) {
        display: none;
        }
    @include m.mq(pc) {
        display: block;
        color: #707070;
    }
    .c-menu{
        font-size: 1.5rem;
        font-weight: bold;
        margin: 40px;
        list-style: none;
    }
    .c-sub{
        font-size: 1.25rem;
        margin-left: 66px;
        list-style: none;
        li{
        padding-bottom: 20px;
        }
        
    }
}

