@use "..//foundation/mixin" as m;
.l-main{
    display: flex;
    width: 100%;
    height: 100%;
    &__left{
        width: 100%;
        @include m.mq(tab) {
            width: 100%;
            }
            @include m.mq(pc) {
                width: 80%;
    }
}
    &__right{
        width: 0;
        height: auto;
        @include m.mq(tab) {
            width: 0;
            }
            @include m.mq(pc) {
                width: 20%;
            }
    }
}
