@use "..//foundation/mixin" as m;
.l-main{
    display: flex;
    width: 100%;
    position: relative;
    &__left{
        width: 100%;
        @include m.mq(tab) {
            width: 100%;
            }
            @include m.mq(pc) {
                width: 80%;
    }
}
    &__right{
        width: 0;
        // height: 100%;
        transition: 0.5s;
        @include m.mq(tab) {
            width: 0;
            }
            @include m.mq(pc) {
                width: 20%;
            }
    }
    &__right.open{
        width: 87%;
        height: 100%;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 2000;
        overflow: auto;
        @include m.mq(tab) {
            width: 43%;
            }
    }

}
